body {
    background: #000000 url('../assets/car-back.jpg') no-repeat;
    background-position: center;
    width: 100%;
}

.resultados p:first-of-type {
    font-weight: 700;
    color: #ff0000;
}

.control {
    background: hsla(175, 70%, 30%, 0.1);
    border-radius: 20px;
}
.menu-description p {
    text-align: inherit;
}