body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 48, 42);
    background: url('../assets/photo-1595654378985-92061e59a24d.jpg') no-repeat right #000;
}

.control {
    background-color: hsla(195, 75%, 50%, 0.1);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px hsla(5, 65%, 20%, 0.5);
}

.form {
    margin: 0 auto;
}

.convert-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.value {
    display:flex;
    margin: 10px 20px;
}

.value select {
    height: 25px;
    position: relative;
    top: 18px;
}

.value h3 {
    margin-right: 10px;
}

.valor1 {
    position: relative;
    display: grid;
    place-items: center;
}

.resultados p:first-of-type {
    color: #ff0000;
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    .control {
        background-color: hsla(20, 40%, 20%, 0.5);
    }
    .header-title h1 {
        font-size: 20px;
    }
    .form label, .form {
        font-size: 13px;
    }
    .form .valor {
        width: 140px;
        height: 18px;
    }
    .form h3 {
        font-size: 15px;
    }
    .value select {
        height: 15px;
        font-size: 12px;
        top: 17px;
    }
}