@font-face {
    font-family: Script;
    src: url(../../Content/fonts/scriptwrite.ttf);
}

body {
    background-color: #96732d;
    font: 1.25em Script;
}

input {
    font-family: Script;
    font-size: 0.8em;
}

.main {
    background-image: url('../assets/bakground-image.jpg');
    background-repeat: no-repeat;
    background-position-x: center; 
    background-position-y: 20px;

    height: 1000px;
}

.control {
    width: 500px;
    transform: translateY(-20%);
}
.input {
    display: grid;
    place-items: center;
}

.resultados p:first-of-type {
    font-family: Times New Roman, Times, serif;
    color: #ff0000;
    font-size: 0.9em;
}
.control {
    transform: translateY(0%);
}
.pencil-icon {
    position: relative;
    top: 33px;
    left: 18px;
}

@media screen and (max-width: 480px) {
    * {
        font-size: 18px;
    }
    .main {
        height: 700px;
    }
    .pencil-icon {
        display: none;
    }
    .botaoenviar input:hover {
        transition: none;
        border: none;
        color: #fff;
        background: #ccc;
    }
}